.table td {
    height: 70px;
    vertical-align: middle;
}

.smooth-strech {
    width: auto;
    transition: all 0.2s ease;
}

.rounded-circle.avatar {
    width: 45px; 
    height: 45px; 
    overflow: hidden;
    transition: all .1s ease;
}

.rounded-circle.avatar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}