
html, body {
  background-color: #f8f8f8;
  min-height: 100vh;
}

.spinner-border {
  width: 1.4rem;
  height: 1.4rem;
  border: .15em solid currentColor;
  border-right-color: transparent;
}

/*
.card {
  background: #fff;
  border-radius: 2px;
  position: relative;
}
*/

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
*/

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.component-header {
  background-color: #f0f0f0;
}
.component-title {
  color: #7d7d7d;
}

div, p, h1, h2, h3, h4 {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #555
}

.btn, 
input[type="text"], 
input[type="password"],
input[type="file"] {
  height: 48px;
}

input[type="text"]::placeholder, 
input[type="password"]::placeholder,
input[type="file"]::placeholder {
  font-weight: 200;
}

input[type="text"]:active, input[type="text"]:focus, 
input[type="password"]:active, input[type="password"]:focus,
input[type="file"]:active, input[type="file"]:focus {
  border: 1px solid #0069FF;
  box-shadow: none;
}

input[type="text"]:active.is-invalid, input[type="text"]:focus.is-invalid, 
input[type="password"]:active.is-invalid, input[type="password"]:focus.is-invalid,
input[type="file"]:active.is-invalid, input[type="file"]:focus.is-invalid {
  box-shadow: none;
}

.btn-primary {
  background-color: #0069FF;
}

.btn-primary:disabled,
.btn-primary:hover:disabled {
  cursor: not-allowed;
  background-color: #0069FF;
}

.btn-primary:hover {
  background-color: #1633FF;
}

.invalid-feedback div,
.invalid-feedback p {
  color: #dc3545;
}

.nav-bg-primary {
  background-color: #031B4E;
}

.h-text-0{
  font-weight: bold;
  color: #031B4E;
}

.text-xs {
  font-size: 0.65rem
}

.text-sm {
  font-size: 0.85rem
}

.text-md {
  font-size: 1rem
}

.border-radius-xs {
  border-radius: .25rem;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #f0f0f0;
}

.bg-blue {
  background-color: #0049FF;
}

table {
  background-color: #ffffff;
}

table th,
table td {
  color: #555;
}

