<section class="main pt-5">
    <h1 class="mb-3 text-center text-white mb-4">Creepers</h1>
    <div class="container border border-radius-xs bg-white p-4" style="width: 450px;">
        <div class="row">
            <div class="col">
                <p class="mb-3 text-center">Sing in for continue to use <span class="h-text-0">creepers</span></p>
                <hr class="mb-4">
                <form [formGroup]="form" (submit)="onSubmit()">
                    <div class="form-group">
                        <!--<label for="f-telephone">Telephone</label>-->
                        <input 
                        formControlName="telephone" 
                        type="text" 
                        class="form-control"
                        placeholder="Phone number"
                        [class.is-invalid]="isControlInvalid('telephone')"
                        id="f-telephone">
                        <div class="invalid-feedback" 
                        *ngIf="isControlInvalid('telephone')">
                            <div *ngIf="form.controls.telephone.errors.required">The phone login is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label for="f-password">Password</label>-->
                        <input 
                        formControlName="password" 
                        type="password" 
                        class="form-control"
                        placeholder="Password"
                        [class.is-invalid]="isControlInvalid('password')" 
                        id="f-password">
                        <div class="invalid-feedback" 
                        *ngIf="isControlInvalid('password')">
                            <div *ngIf="form.controls.password.errors.required">The password is required</div>
                            <div *ngIf="form.controls.password.errors.minlength">The password must 6 characters mninimum</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="isWorking || form.invalid">
                            <span class="d-block clearfix">
                                Let's Go !
                                <i class="spinner-border float-right" *ngIf="isWorking"></i>
                            </span>
                        </button>
                    </div>
                </form>


                <div>
                    <p class="text-sm or-separator">or</p>
    
                    <p class="text-sm text-center">If you don't have account you can <a routerLink="/signup">sign up here</a></p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center text-xs text-white m-0 py-4">Copyright &copy; 2019</p>
</section>
