<section class="component-header border-bottom py-3 mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h3 class="component-title m-0">Traces</h3>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-12">

            <div class="card mt-2 px-2 pb-2">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>IP Adresse</th>
                                <th>Date</th>
                                <th>City</th>
                                <th>Country</th>
                                <th>Continent</th>
                                <th>Navigator</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let trace of traces">
                                <td>
                                    {{ trace.ip }}
                                </td>
                                <td>{{ trace.date }}</td>
                                <td>{{ trace.city }}</td>
                                <td>{{ trace.contry }}</td>
                                <td>{{ trace.continent }}</td>
                                <td>{{ trace.user_agent }}</td>
                                <td>{{ trace.latitude }}</td>
                                <td>{{ trace.longitude }}</td>
                                <!----!>
                                <td>
                                    <button class="btn btn-danger btn-sm" (click)="onDelete(contact.id, template)"><i
                                            class="fas fa-trash"></i></button>
                                </td>
                                <!---->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>